{% block category_characteristic_widget %}
    <div class="row chars_sortable">
        <h1>Характеристики</h1>
        <div class="col-md-6">
            <input type="text" value="Основные характеристики" readonly class="form-control class_title"/>
            <div class="sortable list-group well">
                <div class="list-group-item">
                    <span class="glyphicon glyphicon-transfer"></span>
                    <select class="form-control" name="sdf" id="sdf">
                        <option value="sdf">Брэнд</option>
                    </select>
                    <input type="hidden" name="headGroup"/>
                    <input type="hidden" name="orderIndex"/>
                    <button class="btn btn-danger btn-xs remove"><span class="glyphicon glyphicon-trash"></span></button>
                </div>
                <div></div>
                <button class="btn btn-info btn-sm add_param" type="button">Добавить характеристику</button>
            </div>
        </div>
    </div>
    <div class="row">
        <button class="add_new btn btn-info" type="button">Добавить группу</button>
    </div>
{% endblock %}