<div id="create_characteristic" class="col-md-12">
    <h1>Создание новой характеристики</h1>
    {% for flash_message in app.session.flashbag.get('flash.message') %}
        <div id="flash_info_{{ loop.index }}" class="well alert-success">
            {{ flash_message }}
            <script type="text/javascript">setTimeout(function () {
                    $('#flash_info_{{ loop.index }}').remove()
                }, 4000)</script>
        </div>
    {% endfor %}
    {{ form(form) }}
</div>