/web/css/style.css.map
/web/.sass-cache
/app/config/parameters.yml
/build/
!/build/phpcs.xml
!/build/phpdox.xml
!/build/phpmd.xml
!/build/phpunit.xml

/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea/