<div class="alert alert-info">
    Пришел по приглашению куратора <a href="{{ path('experts_detail', {'username': invite.curator.username}) }}">{{ invite.curator.fullName|default(invite.curator.username) }}</a>
{% if invite.isFromFeedback %}
    , через обратную связь
{% endif %}
</div>