{% extends "::layout.html.twig" %}

{% block title %}ExpratingExpertBundle:ModerationController:productDetail{% endblock %}

{% block body %}
<h1>Welcome to the ModerationController:productDetail page</h1>
{% endblock %}
