{% extends "::layout.html.twig" %}

{% block title %}ExpratingExpertBundle:ModerationController:waitList{% endblock %}

{% block body %}
<h1>Welcome to the ModerationController:waitList page</h1>
{% endblock %}
