<button aria-expanded="false" type="button" class="btn btn-default dropdown-toggle"
        data-toggle="dropdown"><span
            class="glyphicon glyphicon-sort-by-attributes{{  productFilter.sortDirection=='DESC'?'-alt':'' }}"></span>
    {% if productFilter.sortField == 'minPrice' %}
        по цене
    {% elseif productFilter.sortField == 'enabledAt' %}
        по дате
    {% elseif productFilter.sortField == 'rating' %}
        по рейтингу
    {% endif %}
    <span class="caret"></span></button>
{{ knp_menu_render('AppBundle:Builder:productFilterMenu') }}
