<a href="{{ path('category_admin_profile') }}" class="list-group-item {{ a1_current|default('') }}">
    Профиль Админа категорий
</a>
<a href="{{ path('category_admin_categories') }}" class="list-group-item {{ a2_current|default('') }}">
    Доступные категории
</a>