{% extends 'Profile/category_admin.html.twig' %}
{% block profile_body %}
    <div class="row">
        <div class="col-md-6">
            {{ treeHtml|raw }}
        </div>
        <div class="col-md-6">
        </div>
    </div>
{% endblock %}
{% block breadcrumbs %}
{{ parent() }}
    <a href="{{ path("category_admin_profile") }}">Профиль админа категорий</a> →
{% endblock %}