<h1>{{ category.name|default("Выберите категорию") }}</h1>
{% for flash_message in app.session.flashbag.get('flash.category_saved') %}
    <div id="flash_info_{{ loop.index }}" class="well alert-success">
        {{ flash_message }}
        <script type="text/javascript">setTimeout(function () {
                $('#flash_info_{{ loop.index }}').remove()
            }, 4000)</script>
    </div>
{% endfor %}
{% form_theme form 'Form/form_rating_settings.html.twig' %}
{% if category %}
    <div class="row"></div>
    <div class="row chars_sortable">
        <h1>Характеристики</h1>
        <div class="col-md-6">
            <input type="text" value="Основные характеристики" readonly class="form-control class_title"/>
            <div class="sortable list-group well">
                <div class="list-group-item">
                    <span class="glyphicon glyphicon-transfer"></span>
                    <select class="form-control" name="sdf" id="sdf">
                        <option value="sdf">Брэнд</option>
                    </select>
                    <input type="hidden" name="headGroup"/>
                    <input type="hidden" name="orderIndex"/>
                    <button class="btn btn-danger btn-xs remove"><span class="glyphicon glyphicon-trash"></span></button>
                </div>
                <div></div>
                <button class="btn btn-info btn-sm add_param" type="button">Добавить характеристику</button>
            </div>
        </div>
    </div>
    <div class="row">
        <button class="add_new btn btn-info" type="button">Добавить группу</button>
    </div>
{% endif %}