{% extends 'layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            {{ treeHtml|raw }}
        </div>
        <div class="col-md-6">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}