# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     exprating
    database_user:     root
    database_password: ~
    database_import_host:     127.0.0.1
    database_import_port:     ~
    database_import_name:     exprating_import
    database_import_user:     root
    database_import_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    mailer_sender_address: ~
    mailer_sender_fullname: ~
    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    database_test_driver:   pdo_mysql
    database_test_host:     127.0.0.1
    database_test_port:     ~
    database_test_name:     exprating_test
    database_test_user:     root
    database_test_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_test_path:     %kernel.root_dir%/app.sqlite
    # Search engine "sql" or "sphinx"
    search_engine: sql
    #asset_base_url: //exprating.ru/
    asset_base_url: ~
    asset_debug: false
    asset_version: 1