<a href="{{ path('admin_profile') }}" class="list-group-item {{ a1_current|default('') }}">
    Профиль Админа
</a>
<a href="{{ path('admin_experts') }}" class="list-group-item {{ a2_current|default('') }}">
    Список пользователей
</a>