{% extends '_layout/_profile.html.twig' %}
{% block title %}Регистрация по приглашению {{ invite.curator.fullName }}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block profile_body %}
    <h1>
        Вы регистрируетесь по приглашению:
        <a href="{{ path('experts_detail', {'username': invite.curator.username}) }}"></a>
        {{ invite.curator.fullName }}
    </h1>
    {{ form(form) }}
{% endblock %}