{% extends '_layout/_profile.html.twig' %}
{% block title %}Завершение регистрации{% endblock %}
{% block profile_body %}
    <h1>
        Вы регистрируетесь по приглашению:
        <a href="{{ path('experts_detail', {'username': app.user.invite.curator.username}) }}"></a>
        {{ app.user.invite.curator.fullName }}
    </h1>
    {{ form(form) }}
{% endblock %}