{% extends '_layout/_profile.html.twig' %}
{% block title %}Инвайт уже активирован{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block profile_body %}
    <h1>
        {{ block('title') }}
    </h1>
{% endblock %}