{% extends '_layout/_profile.html.twig' %}
{% block title %}Завершение регистрации{% endblock %}
{% block profile_body %}
    <h1>Вы регистрируетесь по приглашению: {{ app.user.invite.curator.fullName }}</h1>
    {{ form(form) }}
{% endblock %}