{% extends '_include/Product/_itemList.twig' %}
{% block additional %}
    <div class="sticker-additional-info">
        <span class="label label-info" data-toggle="tooltip"
              title="Осталось дней">Осталось: {% transchoice product.daysLeft %}
            %count% день|%count% дня|%count% дней
            {% endtranschoice %}</span>
        <span class="label label-default">
            <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                  title="Ожидает решения куратора"></span>
        </span>
    </div>
{% endblock %}
{% block buttons %}
    <a class="btn btn-default btn-sm sticker-where" href="{{ path("curator_decisions", {"slug": product.slug}) }}"
       role="button">
        <span class="glyphicon glyphicon-book"></span>
        История решений
    </a>
{% endblock %}
