{% extends "::layout.html.twig" %}

{% block title %}ExpratingExpertBundle:ExpertEdit:productDetail{% endblock %}

{% block body %}
<h1>Welcome to the ExpertEdit:productDetail page</h1>
{% endblock %}
