{% extends "::layout.html.twig" %}

{% block title %}ExpratingExpertBundle:CategoryAdmin:categoryList{% endblock %}

{% block body %}
<h1>Welcome to the CategoryAdmin:categoryList page</h1>
{% endblock %}
