{% extends "::layout.html.twig" %}

{% block title %}ExpratingExpertBundle:CategoryAdmin:categoryEdit{% endblock %}

{% block body %}
<h1>Welcome to the CategoryAdmin:categoryEdit page</h1>
{% endblock %}
