{% extends 'layout.html.twig' %}
{% block body_type %}product{% endblock %}
{% block content %}
    <div class="content-inner clearfix">
        {{ include(":Product:detailPart.html.twig") }}
    </div>
{% endblock %}
{% block sidebar_right %}{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" async="async" src="{{ asset('js/detail.js') }}"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="{{ asset('js/edit.js') }}"></script>
{% endblock %}