{% extends 'layout.html.twig' %}

{% block body_type %}user{% endblock %}
{% block sidebar_right %}{% endblock %}

{% block content %}
    <div class="auth">
        {% block fos_user_content %}{% endblock %}
    </div>
{% endblock %}
