{% extends "::layout.html.twig" %}

{% block title %}ExpratingExpertBundle:PermissionsEdit:userList{% endblock %}

{% block body %}
<h1>Welcome to the PermissionsEdit:userList page</h1>
{% endblock %}
