{% extends "::layout.html.twig" %}

{% block title %}ExpratingExpertBundle:PermissionsEdit:userEdit{% endblock %}

{% block body %}
<h1>Welcome to the PermissionsEdit:userEdit page</h1>
{% endblock %}
