    <div class="content-inner clearfix">
    <h1>Экспертные мнения ожидающие одобрения</h1>

    {{ knp_pagination_render(pagination) }}

    <div class="rubric-wrapper">
        <div class="recommend-products p-stikers" style="margin-bottom: 40px;">
            <ul>
                {% for decision in pagination %}
                    {{ include("_include/Product/_itemList.twig", {"product":decision.product}) }}
                {% endfor %}
            </ul>
        </div>
    </div>

    {{ knp_pagination_render(pagination) }}
    </div>
