Пользователь {{ expert.fullName }} ({{ expert.username }}) подал заявку на получение статуса "Куратор"
Вы можете сделать его куратором на странице:
<a href="{{ url('experts_detail', {'username': expert.username}) }}">{{ expert.username }}</a>