{% for category in categories %}
    <span class="dropdown">
        → <a role="button" class="dropdown-toggle" id="dropdown-{{ category.slug }}"
             href="{{ path('product_list', {'slug': category.slug}) }}">{{ category.name }}</a>
    </span>
{% endfor %}
